<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>Yummy Recipes</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../assets/css/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Yummy Recipes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="#">Logout</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row">

        <div class="col-sm-6 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Recipes</a></li>
            <li><a href="#">Categories</a></li>            
          </ul>         
        </div>

        <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Edit Recipe</h1>
            
            <div>
               <form action="">
                   <div class="form-group">
                     <label for="title">Title</label>
                     <input type="text" value="Lunch for Italians" name="title" class="form-control">
                   </div>
                   <div class="form-group">
                        <label for="title">Category</label>
                        <select class="form-control">
                            <option value="ugfood">Ugandan Food</option>
                            <option value="kefood">Kenyan Food</option>
                        </select>
                    </div>
                   <div class="form-group">
                        <label for="title">Time(it takes to prepare)</label>
                        <input type="text" value="30 Minutes" name="title" class="form-control">
                    </div>
                    <div class="form-group">
                       <label for="instructions">Instructions</label>
                       <textarea name="instruction" class="form-control">
                        simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was p
                       </textarea>
                    </div>

                    <input type="submit" class="btn " value="Add">
               </form>
            </div>
        </div>
      </div>
    </div>

   <script src="../assets/js/jquery.min.js"></script>
   <script src="../assets/js/bootstrap.min.js"></script>
  </body>
</html>
